- provide(:title, "Editing game")

#editor
:javascript
  (new Editor('#editor', gon.adventure)).render()

= form_for(@adventure, html: { id: 'editor-adventure-form' } ) do
  %input{type: 'hidden', name: 'token', value: params[:token]}
  %input#editor-adventure-json{type: 'hidden', name: 'json', value: @adventure.content}