.row.index-container

  .col-sm-4.sidebar-container

    %h2 Create your own game!
    %p
      The Census and Excise is an establishment operated by the Empire
      in an attempt to manage census counting for tax/excise purposes.
      Imperial taxes are based on head counts of citizens;
      Census and Excise is responsible for both head!
    = link_to "create new game >", new_adventure_path, class: "btn btn-orange"

    .posters
      -#The Census and Excise is an establishment operated by the Empire in an attempt to manage census counting for tax/excise purposes. Imperial taxes are based on head counts of citizens; Census and Excise is responsible for both head!

  .col-sm-8.games-container

    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active
        %a{"data-toggle" => "tab", :href => "#recent", :role => "tab"} Recent
      %li
        %a{"data-toggle" => "tab", :href => "#played", :role => "tab"} Played by me
      %li
        %a{"data-toggle" => "tab", :href => "#most-played", :role => "tab"} Most played

    .tab-content
      #recent.tab-pane.active
        = render 'adventures'
      #played.tab-pane
        .row
          = render @played_adventures
      #most-played.tab-pane
        .row
          = render @best_adventures