html, body {
  height: 100%
}

a.dz-remove, .dz-default {
  display: none !important;
}

body.adventures-show {
  &.fantasy {
    background-image: url(image_path("rivendell.jpg"));
    background-size: cover;
  }

  &.scifi {
    background-image: url(image_path("scifi.jpg"));
    background-size: cover;
  }

  &.detective {
    background-image: url(image_path("detective.jpg"));
    background-size: cover;
  }

  .list-group {
    margin-bottom: 0;

    a.list-group-item {
      cursor: pointer;
      p:last-child {
        margin-bottom: 0
      }
    }
  }

  .inventory {
    > .thumbnail {
      display: inline-block;
    }
  }
}

body.adventures-edit, body.adventures-new {
  background: image-url('editor-background.jpg');
  background-size: cover;

  & > .container-fluid {
    height: calc(100% - 70px);
    & > #editor {
      height: 100%;
      & > .row {
        height: 100%;
        & > * {
          height: 100%;
        }
      }
    }
  }
  #sidebar {
    border-radius: 3px;

    .nav-tabs {
      li {
        a {
          font-family: "Lato", Helvetica, Arial, sans-serif;
          text-transform: uppercase;
          font-weight: bold;
          color: black;
          background: #eeebdf;
        }
        &.active a{
          background: white;
        }
      }
      li + li{
        border-left: 2px solid transparent;
      }
    }

    .tab-content {
      padding: 1em;
      background: white;
    }

    .form-separator {
      height: 1px;
      background: #ddd;
      margin-top: 3em;
      margin-bottom: 2em;
      text-align: center;

      h1,h2,h3,h4,h5,h6 {
        background: white;
        position: relative;
        top: -0.5em;
        display: inline;
        padding: 0 10px;
        color: #666;
        a {
          color: #666;
        }
      }
    }
  }

  .btn-new-node.btn-grid {
    .glyphicon {
      font-size: 70px;
      display: block;
      margin: 20px 0;
    }
  }

  .btn-remove-node {
    margin-top: -($line-height-base * 1em + 1em);
    float: right;

    &.disabled {
      cursor: initial;
      pointer-events: initial;
    }
  }


  #graph {
    width: 100%;
    height: 100%;

    .node {
      width: 150px;
      height: 50px;
      position: relative;
      background-color: #0e0805;
      border-radius: 5px;
      color: #8f8f8f;
      font-family: 'ringbearer';
      cursor: pointer;

      &.active {
        background: #fff !important;
        box-shadow: 1px 3px 8px 1px;
      }

      .identifier {
        position: absolute;
        top: -0.2em;
        text-align: center;
        font-size: 1.5em;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.2em;
        left: calc(50% - 0.75em);
        margin-top: -0.5em;
        background-color: inherit;
        border-radius: 45px;
      }
      .name {
        position: relative;
        z-index: 1;
        padding: 0.5em 0.5em 0 0.5em;
        font-size: 1em;
        color: #ca3400;
      }
      .type {
        font-size: 0.9em;
        padding: 0 0.5em 0.5em 0.5em;
      }
    }
  }
  #editor > .editor-buttons {
    position: fixed;
    bottom: 20px;
    left: 20px;

    .btn.btn-primary{
      background: #ca3400;
      border: 1px solid #A1401E;
      outline: 0;
      font-family: 'Lato', sans-serif;
    }
  }
}

body.adventures-index {

  background-image: url(image_path('background-main.jpg'));
  background-size: cover;

  .container, .container-fluid {
    padding-bottom: 20px;
  }

  .index-container {
    margin-top: 42px;
  }

  .sidebar-container {
    padding: 0 40px 0 0;

    h2 {
      font-family: 'ringbearer';
      font-size: 36px;
      color: #0b0604;
      margin: 20px 0;
    }

    p {
      font-family: 'Lato', sans-serif;
      font-weight: normal;
      color: #0b0604;
      font-size: 16px;
      margin: 20px 0;
    }

    a {
      font-family: 'Lato', sans-serif;
      font-weight: normal;
      color: #fff;
      background: #fb4700;
      border-bottom: 2px solid #d63c00;
      border-radius: 4px;
      font-size: 22px;
      width: 100%;
      margin: 20px 0;
      padding: 12px 0;
      text-transform: uppercase;
    }

    .posters {
      width: 100%;
      background-image: url(image_path("posters-bg.png"));
      background-repeat: no-repeat;
      background-size: 100% auto;
      height: 303px;
      margin: 20px 0;

      .poster {
        width: 100%;
      }
    }
  }

  .games-container {
    padding: 20px 32px;
    background: #fff;
    border-radius: 8px;

    .nav-tabs {
     border-bottom: 0;
     padding: 0 0 10px;

      li {
        background: #fff;
        border: 0;

        &.active {
          background: #eeebdf;
          border-radius: 4px;
        }

        a {
          font-family: 'Lato', sans-serif;
          font-weight: bold;
          font-size: 14px;
          color: #0b0604;
          text-transform: uppercase;
          border: 0;
          margin: 0;
          background: transparent;
          padding: 10px 15px;
        }
      }
    }

    .col-lg-4 {
      padding: 13px;

      .adventure {
        border: 1px solid #c0c0c0;
        padding: 10px;

        a {
          text-decoration: none;
          color: #0b0604;
        }

        .adventure-name {
          padding: 12px 0;
          font-size: 20px;
          margin: 0;
          font-family: 'ringbearer';
        }

        .adventure-info {
          position: relative;

          .adventure-image {
            position: absolute;
            opacity: 1;
            width: 100%;
            height: 100%;
            background-size: contain;
            background-position: top center;
            -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;

            &.fantasy {
              background-image: url(image_path("rivendell.jpg"));
              background-size: cover;
            }

            &.scifi {
              background-image: url(image_path("scifi.jpg"));
              background-size: cover;
            }

            &.detective {
              background-image: url(image_path("detective.jpg"));
              background-size: cover;
            }
          }

          .adventure-description {
            opacity: 0;
            padding: 10px;
            background: #eeebdf;
            font-style: italic;
            font-family: 'Lato', sans-serif;
            font-weight: normal;
            font-size: 14px;
            color: #0b0604;
          }

          &:hover {
            .adventure-image {
              opacity: 0;
            }

            .adventure-description {
              opacity: 1;
            }
          }

        }

        .adventure-footer {
          font-family: 'Lato', sans-serif;
          font-weight: normal;
          font-size: 14px;
          color: #0b0604;

          span {
            float: right;
          }

          .adventure-star {
            width: 15px;
            height: 15px;
            background-image: url(image_path("star.png"));
            background-size: contain;
            float: right;
            margin: 2px 0 0 4px;

            &.active {
              filter: grayscale(1);
              -webkit-filter: grayscale(1);
              -moz-filter: grayscale(1);
              -o-filter: grayscale(1);
              -ms-filter: grayscale(1);
            }
          }

        }
      }
    }

    .pagination {
      padding-left: 13px;

      li {
        span {
          background: #fff;
          color: #0b0604;
          border: 1px solid #0b0604;
        }

        a {
          color: #0b0604;
          background: #fff;
          border: 1px solid #0b0604;
        }

        &.active {
          span {
            background: #0b0604;
            color: #fff;
            border: 1px solid #0b0604;
          }
        }
      }
    }
  }

  .thumbnail {
    position: relative;
    overflow: hidden;

    .caption {
      position: absolute;
      top: 0;
      right: 0;
      background:rgba(255, 255, 255, 0.75);
      width: 100%;
      height: 100%;
      padding: 2%;
      display: none;
      text-align: center;
      color: #fff !important;
      z-index: 2;
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar-container {
    padding: 0 20px !important;
  }
}

body.adventures-show {
  background-image: url(image_path("game-background.png"));
  background-size: cover;

  .game-container {
    position: relative;
    padding: 0;

    .game-header {
      position: relative;
      text-align: center;

      span {
        font-family: 'ringbearer';
        font-size: 20px;
        color: #e0d4ba;
        background: #0e0805;
        padding: 4px 8px;
        position: relative;
        border-radius: 4px;
        z-index: 1;

        &:before {
          content: '';
          position: absolute;
          left: -8px;
          top: 12px;
          width: 16px;
          height: 16px;
          border-radius: 12px 0 0 12px;
          background: #0e0805;
        }

        &:after {
          content: '';
          position: absolute;
          right: -8px;
          top: 12px;
          width: 16px;
          height: 16px;
          border-radius: 0 12px 12px 0;
          background: #0e0805;
        }
      }
    }

    .panel-default {
      border-color: #dddddd;
      background: #0e0805;
      margin-top: -16px;
      border-radius: 6px;
      border: 0;
      padding: 20px 0;

      .panel-photo {
        background-image: url(image_path("ornament.png"));
        width: 100%;
        min-height: 90px;
        background-size: cover;
        position: relative;

        &:after {
          position: absolute;
          content: '';
          bottom: -18px;
          width: 56px;
          height: 56px;
          left: calc(50% - 28px);
          border-radius: 40px;
          background: #0e0805;
        }
      }

      .message {
        font-family: 'ringbearer';
        font-size: 26px;
        color: #ca3400;
        text-align: center;
        margin: 14px 0;
      }

      .panel-body {
        background-image: url(image_path('adventure-index-body.png'));
        background-size: cover;
        margin: 15px 15px 0;
        padding: 22px 20px 48px;

        p {
          font-family: 'Lato', sans-serif;
          font-size: 18px;
          color: #0b0604;
        }

        .list-group-item, a.list-group-item {
          background: transparent;
          border: 1px solid #a5a08d;
          font-family: 'Lato', sans-serif;
          font-size: 18px;
          color: #0b0604;

          &:hover {
            background: rgba(0,0,0,0.1);
          }
        }

        h3 {
          font-family: 'Lato', sans-serif;
          font-size: 18px;
          color: #0b0604;
        }

        .media-body {
          font-family: 'Lato', sans-serif;
          font-size: 14px;
          color: #0b0604;
        }
      }
    }

    .inventory {
      background: #0e0805;
      padding: 6px;
      border-radius: 6px;

      .btn.btn-default {
        padding: 0;
        margin: 0;
        background: #000;
        border: 1px solid #a5a08d;
      }

      .bag-icon {
        background-image: url(image_path("bag.png"));
        background-size: contain;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        padding: 10px;
      }

      .thumbnail {
        background: transparent;
        border: 0;
        margin: 0;
      }
    }
  }
}