body.adventures-show {

  .list-group {
    margin-bottom: 0;

    a.list-group-item {
      cursor: pointer;
      p:last-child {
        margin-bottom: 0
      }
    }
  }

  .inventory {
    > .thumbnail {
      display: inline-block;
    }
  }
}

body.adventures-edit, body.adventures-new {
  #sidebar {
    .tab-content {
      margin-top: 10px
    }
  }
}

body.adventures-index {

  background: url(image_path('adventure-index-body.png')) repeat;

  .container {
    padding-bottom: 20px;
  }

  .index-container {
    margin-top: 42px;
  }

  .sidebar-container {
    padding: 0 40px 0 0;

    h2 {
      font-family: 'ringbearer';
      font-size: 36px;
      color: #0b0604;
      margin: 20px 0;
    }

    p {
      font-family: 'Lato', sans-serif;
      font-weight: normal;
      color: #0b0604;
      font-size: 16px;
      margin: 20px 0;
    }

    a {
      font-family: 'Lato', sans-serif;
      font-weight: normal;
      color: #fff;
      background: #fb4700;
      border-bottom: 2px solid #d63c00;
      border-radius: 4px;
      font-size: 22px;
      width: 100%;
      margin: 20px 0;
      padding: 12px 0;
      text-transform: uppercase;
    }

    .posters {
      width: 100%;
      background: url(image_path("posters-bg.png"));
      padding-bottom: 200px;
      margin: 20px 0;
      background-size: 100% 100%;

      .poster {
        width: 100%;
      }
    }
  }

  .games-container {
    padding: 20px 32px;
    background: #fff;
    border-radius: 8px;

    .nav-tabs {
     border-bottom: 0;
     padding: 0 0 10px;

      li {
        background: #fff;
        border: 0;

        &.active {
          background: #eeebdf;
          border-radius: 4px;
        }

        a {
          font-family: 'Lato', sans-serif;
          font-weight: bold;
          font-size: 14px;
          color: #0b0604;
          text-transform: uppercase;
          border: 0;
          margin: 0;
          background: transparent;
          padding: 10px 15px;
        }
      }
    }

    .col-lg-4 {
      padding: 13px;

      .adventure {
        border: 1px solid #c0c0c0;
        padding: 10px;

        a {
          text-decoration: none;
          color: #0b0604;
        }

        .adventure-name {
          padding: 12px 0;
          font-size: 20px;
          margin: 0;
          font-family: 'ringbearer';
        }

        .adventure-info {
          position: relative;

          .adventure-image {
            position: absolute;
            visibility: visible;
            width: 100%;
            height: 100%;
            background-size: contain;
            background-position: top center;
          }

          .adventure-description {
            visibility: hidden;
            padding: 10px;
            background: #eeebdf;
            font-style: italic;
            font-family: 'Lato', sans-serif;
            font-weight: normal;
            font-size: 14px;
            color: #0b0604;
          }

          &:hover {
            .adventure-image {
              visibility: hidden;
            }

            .adventure-description {
              visibility: visible;
            }
          }

        }

        .adventure-footer {
          font-family: 'Lato', sans-serif;
          font-weight: normal;
          font-size: 14px;
          color: #0b0604;

          span {
            float: right;
          }

          .adventure-star {
            width: 15px;
            height: 15px;
            background: url(image_path("star.png"));
            background-size: contain;
            float: right;
            margin: 2px 0 0 4px;

            &.active {
              filter: grayscale(1);
              -webkit-filter: grayscale(1);
              -moz-filter: grayscale(1);
              -o-filter: grayscale(1);
              -ms-filter: grayscale(1);
            }
          }

        }
      }
    }

    .pagination {
      padding-left: 13px;

      li {
        span {
          background: #fff;
          color: #0b0604;
          border: 1px solid #0b0604;
        }

        a {
          color: #0b0604;
          background: #fff;
          border: 1px solid #0b0604;
        }

        &.active {
          span {
            background: #0b0604;
            color: #fff;
            border: 1px solid #0b0604;
          }
        }
      }
    }
  }

  .thumbnail {
    position: relative;
    overflow: hidden;

    .caption {
      position: absolute;
      top: 0;
      right: 0;
      background:rgba(255, 255, 255, 0.75);
      width: 100%;
      height: 100%;
      padding: 2%;
      display: none;
      text-align: center;
      color: #fff !important;
      z-index: 2;
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar-container {
    padding: 0 20px !important;
  }
}