// Place all the styles related to the adventures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.adventures-show {

  .list-group {
    margin-bottom: 0;

    a.list-group-item {
      cursor: pointer;
      p:last-child {
        margin-bottom: 0
      }
    }
  }
}