body.subpages-about {
  background: url(image_path('adventure-index-body.png'));
  background-size: cover;

  h2 {
    font-family: 'ringbearer';
    font-size: 32px;
    color: #0b0604;
    margin-bottom: 44px 0;
  }

  p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #0b0604;
    margin: 32px 0;

    span {
      display: block;
      font-size: 16px;
    }

    a.linkedin {
      color: #287bbc;
    }

    a.facebook {
      color: #3b5998;
    }

    a.github {
      color: #333;
    }

    a.twitter {
      color: #55acee;
    }
  }

}
