- provide(:title, "About")

.row
  .col-sm-8.col-sm-offset-2
    %h2 About us

    %p
      We are young web developers from Cracow. Get to know us!

    = image_tag "team.jpg", class: "img-thumbnail"
