- provide(:title, "Help")

.row
  .col-sm-8.col-sm-offset-2
    %h2 Help

    %p
      The Census and Excise is an establishment operated by the Empire
      in an attempt to manage census counting for tax/excise purposes.
      Imperial taxes are based on head counts of citizens;
      Census and Excise is responsible for both head!

  -#.col-sm-12
  -#  Upload items:
  -#  = form_for(Image.new, html: { multipart: true, class: "dropzone"}) do |f|
  -#    .fallback
  -#      = f.file_field :file
  -#      = f.submit "Upload"
